@import "../../node_modules/bootstrap/scss/bootstrap.scss"; 


// menu





// end menu

// home

.home-container {
background: url();
min-height: 100vh;
}


#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }

  


// end home

// nos services












// end nos service

// a propos






// end a propos

// contact

     
iframe{
  width:100%
  // padding-right: 0px;
}
.contact-card {
  
}  

// end contact



  // footer

  .bx {
    color: aliceblue;
  }

  // end footer